* {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

body {
    background-color: #f5f5f5;
}

.top {
    width: 100%;
    height: 27px;
    background: url("../images/top_bg.jpg") repeat-x;
}

.top-content {
    width: 1000px;
    height: 27px;
    margin: 0 auto;
    line-height: 27px;
}

.top-content li {
    float: right;
    width: 70px;
    list-style-image: url("../images/arrow.jpg");
}

.top-content li a:link, .top-content li a:visited {
    color: #8E8E8E;
    text-decoration: none;
}

.top-content li a:hover, .top-content li a:active {
    color: #c00;
    text-decoration: none;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

.logo {
    height: 80px;
    background-color: #ffffff;
}

.logo-left {
    width: 375px;
    float: left;
}

.logo-left img {
    display: block;
}

.logo-right {
    width: 300px;
    height: 28px;
    margin-top: 30px;
    float: right;
    color: #8e8e8e;
}

.logo-right img {
    vertical-align: middle;
    margin-right: 10px;
}

.tel {
    font-family: "微软雅黑";
    font-size: 22px;
    color: #c00;
}

.nav {
    height: 40px;
}

.nav-left {
    width: 10px;
    background: url(../images/nav_left.jpg);
}

.nav-right {
    width: 10px;
    background: url(../images/nav_right.jpg);
}

.nav-mid {
    width: 980px;
    background: url("../images/nav_bg.jpg") repeat-x;
}

.nav-left, .nav-mid, .nav-right {
    height: 40px;
    float: left;
}

.nav-mid-left li {
    list-style-type: none;
    float: left;
    line-height: 40px;
    width: 100px;
    font-family: "微软雅黑";
    text-align: center;
}

.nav-mid a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.nav-mid a:hover, .nav-mid a:active {
    color: #ff0;
    font-size: 16px;
    text-decoration: none;
}

.nav-mid-left {
    width: 680px;
}

.nav-mid-right {
    width: 300px;
}

.nav-mid-left, .nav-mid-right {
    display: inline;
    float: left;
}

.search-text {
    width: 190px;
    height: 25px;
    vertical-align: middle;
    margin-top: 5px;
    background: url("../images/search.jpg") no-repeat right center;
    background-color: #ffffff;
    padding-right: 25px;
    border: 1px solid #ffffff;
}

.ad {
    height: 320px;
    margin-top: 5px;
    background-color: #ffffff;
}

.main {
    height: 250px;
    margin-top: 5px;
    background-color: #ffffff;
}

.news {
    width: 340px;
}

.products {
    width: 410px;
    margin: 0 7px;
}

.sidebar {
    width: 230px;
    float: left;
    height: 250px;
}

.news, .products {
    float: left;
    height: 250px;
    border: 1px solid #e8e8e8;
}

.title {
    height: 35px;
    border-bottom: 2px solid #e8e8e8;
    font-size: 14px;
    font-family: 微软雅黑, sans-serif;
    line-height: 35px;
    font-weight: bold;
    color: #786f66;
}

.title-left {
    width: 70%;
    float: left;
    padding-left: 20px;
}

.title-right {
    width: 20%;
    float: right;
    text-align: right;
}

.title-right a {
    color: #999;
    text-decoration: none;
    font-family: 宋体, sans-serif;
    font-size: 10px;
    font-weight: normal;
    padding-right: 10px;
}

.pic-news {
    height: 80px;
    margin-top: 10px;
    line-height: 22px;
}

.pic-news img, .product-list img {
    float: left;
    margin: 0 5px;
}

.pic-news a, .product-list a {
    color: #cc0000;
    text-decoration: none;
}

.news-list {
    margin-top: 20px;
}

.news-list li {
    background: url("../images/list.jpg") no-repeat;
    list-style-type: none;
    padding-left: 10px;
    border-bottom: 1px dotted #cccccc;
    margin: 8px;
    height: 17px;
    line-height: 17px;
}

.news-list li a {
    text-decoration: none;
    color: #000000;
}

.news-list li a:hover, .news-list li a:active {
    text-decoration: none;
    color: #ff0000;
}

.news-list span {
    float: right;
    color: #999999;
}

.product-list {
    height: 120px;
    margin-top: 10px;
    line-height: 22px;
}

.product-type {
    width: 372px;
    height: 37px;
    background: url("../images/product_type_bg.jpg") no-repeat;
    margin: 20px auto;
}

.product-type li {
    list-style-type: none;
    float: left;
    line-height: 37px;
    text-align: center;
    margin: 0 15px;
}

.video {
    height: 185px;
    margin-bottom: 10px;
    border: 1px solid #e8e8e8;
}

.video-cotent {
    height: 150px;
}

.service {
    height: 55px;
    border: 1px solid #e8e8e8;
}

.copyright {
    clear: both;
    width: 100%;
    height: 200px;
    background-color: #e8e8e8;
    margin-top: 10px;
}

.copyright-content {
    width: 1000px;
    height: 180px;
    margin: 0 auto;
    padding-top: 20px;
}

.copyright-content li {
    list-style-type: none;
    float: left;
    width: 200px;
    text-align: center;
    background: url("../images/line.png") no-repeat right center;
    font-size: 18px;
    font-family: 微软雅黑;
    line-height: 30px;
    color: #999999;
}

.copyright-content li ul li {
    font-size: 14px;
}

/*新闻页样式*/
.list-main {
    height: 350px;
    background-color: #ffffff;
    margin-top: 10px;
}

.news-type {
    width: 220px;
    height: 350px;
    border:1px solid #e8e8e8;
    float: left;
}

.list-box {
    width: 770px;
    min-height: 350px;
    border: 1px solid #e8e8e8;
    float: right;
}

.news-type h2 {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #666666;
    background: url("../images/titile_bg.gif") repeat-x;
    padding-left: 20px;
}

.news-type-content {
    height: 365px;
    background: url("../images/content_bg.gif") repeat-x;
}

.news-type-content li {
    list-style-type: none;
    height: 30px;
    line-height: 30px;
}

.news-type-content li a {
    color: #666666;
    text-decoration: none;
    background: url("../images/li_bg.gif") no-repeat  left center;
    padding-left: 15px;
    display: block;
}

.news-type-content li a:hover{
    color: #009cdf;
    background: url("../images/li_bg2.gif") no-repeat left center;
    background-color: #f2f2f2;
}

.list-box h2 {
    font-size: 14px;
    font-family: 微软雅黑;
    color: #666666;
    height: 35px;
    line-height: 35px;
    background: url("../images/type_bg.png") repeat-x;
}

.page {
    height: 40px;
    margin-top: 10px;
    text-align: center;
}

.page a {
    border: 1px solid #e8e8e8;
    text-decoration: none;
    margin: 5px;
    padding: 5px 10px;
}

.page a:link, .page a:visited {
    color: black;
}

.page a:hover, .page a:active {
    color: #ffffff;
    background-color: #cc1b1b;
}